.projectContainer {
  position: relative;
}
.projectsHeading {
  text-align: center;
  padding: 10px;
  /* background-color: antiquewhite; */
}
.alter_bg {
}
div.alter_bg > div:nth-of-type(even) {
  background: whitesmoke;
  padding: 30px 0;
}
.projectsDetailContainer {
  display: flex;
}
.proj_main_space {
  padding: 15px;
}
.side_container {
  /* background-color: whitesmoke; */
  width: 40%;
  min-width: 450px;
  text-align: center;
  align-self: stretch;
  padding: 20px;
}
.proj_details_container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid lightgray; */
}
.details_main_container {
  display: flex;
}
.details_main_container_content {
  padding: 5px;
}
.details_main_container_techs {
  padding: 5px;
  padding-left: 10px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 55%;
}
.details_main_container_techs ul {
  padding-left: 20px;
}
.proj_images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.proj_images_container img {
  padding: 15px 10px;
}
.proj_images_container img:hover {
  transform: scale(1.01);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px whitesmoke;
  padding: 0;
}
