* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-light: #fff;
  --text-light: #333;
  --background-dark: #333;
  --text-dark: #fff;
}
body,
html {
  /* font-size: 82.5%; */
  overflow-x: hidden;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  background-color: var(--background-light);
  color: var(--text-light);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
a:-webkit-any-link {
  cursor: pointer;
}
.paddingTop {
  padding-top: 100px;
}
.pageNameGeading {
  font-weight: 700;
}
